---
on: [push, pull_request]

name: CI

jobs:
  check:
    name: Check
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: dtolnay/rust-toolchain@stable
      - run: cargo check

  test:
    name: Test Suite
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: dtolnay/rust-toolchain@stable
      - run: cargo test

  fmt:
    name: Rustfmt
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: dtolnay/rust-toolchain@stable
        with:
          components: rustfmt
      - run: cargo fmt --all -- --check

  integration:
    name: Integration Test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: cachix/install-nix-action@v30
        with:
          extra_nix_config: "allow-dirty-locks = true"
      - uses: cachix/cachix-action@v15
        with:
          name: uptix
          authToken: "${{ secrets.CACHIX_AUTH_TOKEN }}"
        continue-on-error: true
      - run: nix flake lock --update-input uptix
        working-directory: ./example/
      - run: nix develop -c uptix
        working-directory: ./example/
      - run: ./test-single-dep.sh
        name: Test single dependency update
      - run: |
          nix build .\#nixosConfigurations.somehost.config.system.build.toplevel
        working-directory: ./example/
